@tailwind base;
@tailwind components;
@tailwind utilities;


h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel', serif;
  font-weight: 700; /* optional: use 400, 500, 600 depending on desired boldness */
  letter-spacing: 1px;
}
